.addpage {
  padding: 40px;
  text-align: center;
  color: #333;
  background: #f9f9f9;
  min-height: 100vh;
  margin-top: 100px;
}
.radiobox{
  display: flex;
  gap:60px;
  margin-top: 40px;
}
.add-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 20px auto;
}

.add-form input,
.add-form button,
.add-form select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.add-form button {
  background-color: #7A4F3D;
  color: white;
  cursor: pointer;
}

.add-form button:hover {
  background-color:  #C89F7A; 
}

.image-upload img.preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 8px;
}
