.category-container {
  padding: 40px 70px;
  text-align: center;
  margin-top: 100px;
}

.category-title {
  font-size: 28px;
  margin-bottom: 30px;
  color: #5d4037;
}

.category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  margin-left: 100px;
}

.category-box {
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(93, 64, 55, 0.2);
  padding: 20px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width:250px;
  height:350px;
  overflow: hidden;
}

.category-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(93, 64, 55, 0.3);
}

.category-img {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
}

.view-btn {
  background: linear-gradient(135deg, #795548, #a1887f);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.view-btn:hover {
  background: linear-gradient(135deg, #5d4037, #8d6e63);
}

.category-items-page {
  text-align: center;
}

.cat-items-title {
  font-size: 26px;
  margin: 20px 0;
}

.category-items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 25px;
  justify-content: center;
  margin-top: 25px;
}

.item-card {
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 3px 10px rgba(93, 64, 55, 0.2);
  overflow: hidden;
  padding-bottom: 10px;
}

.item-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.back-btn {
  border: none;
  background: none;
  color: #795548;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  margin: auto;
  
}
.category-box{
   height:270px;
  width:130px;
  margin-left: 0px;
}
}


