.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fff8ec, #fffaf1);
  color: #111;
  font-family: "Poppins", sans-serif;
  text-align: center;
  overflow: hidden;
  margin-top: 100px;

}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  max-width: 800px;
}

.title-row {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: baseline;
}

.left-text,
.right-text {
  font-size: 3.5rem;
  font-weight: 800;
  margin:0;
}

.left-text {
  color:#5a3825;
}

.right-text {
  color: #8b5e3c;;
}

/* INSTANTLY — typing animation */
.instantly {
  margin-top: 0.5rem;
  font-size: 3rem;
  color: #8b5e3c;
  position: relative;
  letter-spacing: 2px;
  font-weight: 800;
}

.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #8b5e3c; /*line for backspace*/
  width: 0;
  animation: typing 3.5s steps(11, end) forwards,
             pause 1s forwards,
             erase 3.5s steps(11, end) forwards 4.5s,
             blink 0.6s infinite;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}

/* Keyframes */
@keyframes typing {
  from { width: 0; }
  to { width: 11ch; } /* slightly more than 9ch to reveal 'Y' */
}

@keyframes erase {
  from { width: 11ch; }
  to { width: 0; }
}

@keyframes pause {
  from { width: 11ch; }
  to { width: 11ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

/* Description */
.hero-content p {
  font-size: 1.2rem;
  color: #5a3825;
  line-height: 1.7rem;
  margin-top: 1rem;
  max-width: 600px;
}

/* Button */
.browse {
  margin-top: 2rem;
  padding: 0.9rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background: linear-gradient(180deg, #5a3825, #8b5e3c);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.browse:hover {
  background-color: #9c6f4b;
  box-shadow: 0 4px 15px rgba(139, 94, 60, 0.4);
}

/* Responsive */
@media (max-width: 769px) {
  .title-row {
    
    gap: 1.2rem;
  }
.hero{
  height:80vh;
  padding-top: 80px;
}
.title-row{
  display: flex;
  
}
  .left-text,
  .right-text,
  .instantly {
    font-size: 1.7rem;

  }
.hero-content{
   margin-bottom: 200px;
}
  .hero-content p {
    font-size: 1rem;
    margin-top: 3rem;
  
  }
  @media (max-width: 480px){
     .left-text,
  .right-text,
  .instantly {
    font-size: 1.57rem;

  }

  }
}
